# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\zhangjiujun\teach\cgb\大数据\课前资料\新版大数据课前资料\大数据课前资料\bigDataProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
